RewriteEngine On
RewriteBase /tasks/authentication/

# Rewrite requests for /home.php to /views/home/home.php
RewriteRule ^home\.php$ views/home/home.php [L]

# Rewrite requests for /login.php to /views/auth/login.php
RewriteRule ^login\.php$ views/auth/login.php [L]

# Rewrite requests for /register.php to /views/auth/register.php
RewriteRule ^register\.php$ views/auth/register.php [L]

# Rewrite requests for /add_listing.php to /views/home/add_listing.php
RewriteRule ^add_listing\.php$ views/home/add_listing.php [L]

RewriteRule ^edit_listing/([^/]*)$ views/home/edit_listing.php?id=$1 [L]
